.editor-block-list__block[data-type="genero/instafeed"] {
  .wp-block-genero-instafeed {
    // Hide duplicate title in editor.
    &__title {
      display: none;
    }

    &__link {
      // Prevent click
      pointer-events: none;
    }

    &__image {
      // override core
      max-width: none;
    }

    &__caption {
      p {
        font-size: 0.8rem;
      }
    }
  }

  // Override core
  &[data-align=full] > .editor-block-list__block-edit figure {
    width: 1px;
  }
}
