.wp-block-genero-instafeed {
  margin-left: -8px;
  margin-right: -8px;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

    .wp-block-genero-instafeed.is-fit & {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  &__figure {
    // Do not let caption grow larger than image.
    display: table;
    width: 1px;
    margin: 0;
  }

  &__caption {
    display: table-row;

    p {
      font-size: 0.8rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-all;
      hyphens: auto;
    }
  }

  &__link {
    display: block;
  }

  &__image {
    display: block;
    max-width: none;

    .alignwide &,
    .alignfull & {
      width: auto;
    }
  }

  &.has-gutter {
    .wp-block-genero-instafeed__item {
      margin: 8px;
    }
  }
}
